<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to listView</title>
</head>
<body>
<div>
    <div>
        <a href="/dashboards/create">Add Dashboard</a>
    </div>
    <h1>Dashboards List</h1>
    <div th:text="${elements}"></div>
    <!--    <div th:text="${dashboards}"></div>-->
    <table>
        <thead>
        <tr>
            <th> ID</th>
            <th> Name</th>
            <th> Size</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${dashboards.empty}">
            <td colspan="2"> No Dashboards Available</td>
        </tr>
        <tr th:each="dashboard : ${dashboards}">
            <td><span th:text="${dashboard.id}"> ID </span></td>
            <td><span th:text="${dashboard.name}"> Name </span></td>
            <td><span th:text="${dashboard.size}"> Size </span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>